body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  background: linear-gradient(0deg, rgb(97, 98, 99) 0%, rgb(0 0 0 / 72%) 100%);
}

h2 {
  font-family: fantasy;
  letter-spacing: 1px;
}

canvas {
  opacity: 0.8;
  position: relative;
  box-shadow: black 20px 10px 50px;
  width: 600px;
  height: 600px;
  background-image: url('../imgs/space.png');
  background-size: 400px;
}

.blue-laser-img {
  margin-left: 15px;
}

.game-title {
  margin-top: 25px;
  height: 150px;
  width: 350px;
}

h1 {
  margin-top: 2rem;
  /* margin: 0px; */
  margin-bottom: 10px;
  font-size: 2.9em;
  font-family: helvetica;
}

.board-container {
  bottom: 3.5rem;
  position: absolute;
}

.bomb-count {
  top: 11.2rem;
  left: 43rem;
  position: absolute;
}

.hero,
.alien {
  width: 30px;
  height: 26px;
}

.laser {
  width: 25px;
  height: 35px;
}

.cell {
  width: 32px;
  height: 40px;
}
