.arrows {
  right: 66%;
  bottom: 31%;
  position: absolute;
  width: 48px;
  height: 28px;
  margin-top: 20px;
}

.game-pad {
  position: relative;
}

.gamepad {
  width: 180px;
  height: 80px;
  margin-top: 20px;
}

.circle {
  width: 13.3px;
  height: 13.3px;
}

.circle-red,
.circle-yellow,
.circle-blue,
.circle-gray {
  position: absolute;
  width: 13.1px;
  height: 13.1px;
}

.circle-red {
  right: 18%;
  bottom: 50.3%;
}
.circle-yellow {
  right: 26%;
  bottom: 36.9%;
}

.circle-blue {
  right: 9%;
  bottom: 36.9%;
}
