@media (max-height: 850px) {
  .game-title {
    height: 85px;
    width: 272px;
  }

  canvas {
    height: 28.5rem;
    width: 25rem;
  }

  .modal {
    line-height: 1.3rem;
    right: 18%;
    bottom: 20%;
    width: 15rem;
    height: 15rem;
  }

  .restart {
    left: 36.3%;
    bottom: 32%;
  }

  .modal p {
    font-size: 0.7rem;
  }

  .start-info {
    margin-top: 1.2rem;
    font-size: 1.1rem !important;
  }

  .bomb-info {
    top: -2%;
  }

  .cell {
    width: 18px;
    height: 26px;
  }

  .hero,
  .alien {
    width: 18px;
    height: 19px;
  }

  .space-ship {
    width: 19px;
    height: 22px;
  }

  .bomb-count span {
    font-size: 0.9rem;
  }

  .score span {
    font-size: 1.1rem;
  }

  .score {
    top: -3.6%;
  }

  .gameover {
    left: 31% !important;
    width: 184px !important;
    height: 143px !important;
  }

  .victory {
    left: 20%;
  }

  .gamepad {
    height: 75px;
    margin-top: 18px;
  }

  .laser {
    width: 18px;
    height: 17px;
  }

  .bomb-count img {
    height: 27px;
  }
}
